@{
    ViewBag.Title = "发展目标";
    Layout = "~/Views/Shared/_LayoutPageMainPage.cshtml";
}
<link href="~/Content/css/Common.css" rel="stylesheet" />
<script type="text/javascript">
    //同域内Iframe高度自适应
    function reinitIframe() {
        var iframe = document.getElementById("frmcontainer");
        try {
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.max(bHeight, dHeight);
            iframe.height = height;
            console.log(height);
        } catch (ex) { }
    }
    window.setInterval("reinitIframe()", 200);
</script>
<div class="mid_banner"></div>
<div class="mainbox">
    <div class="navgiation_left">
        <ul class="nav-column">
            <li><a href="@Url.Action("ProfileInfo", "About")" title="研究院简介"><span>研究院简介</span></a></li>
            <li><a href="@Url.Action("Organization", "About")" title="荣誉资质"><span>组织架构</span></a></li>
            <li><a class="on" href="@Url.Action("Goals", "About")" title="发展目标"><span>发展目标</span></a></li>
            <li><a href="@Url.Action("Landscape", "About")" title="研究院风采"><span>研究院风采</span></a></li>
        </ul>
    </div>
    <div class="content_right">
        <iframe id="frmcontainer" src="@Url.Action("GoalsInfo","About")" f frameborder="0" scrolling="no" style="width:100%;min-height:800px; margin:0 auto;"></iframe>
    </div>
    <div class="clearfix"></div>
</div>
