@model PagedList.PagedList<Expert>
@{
    ViewBag.Title = "产业发展智库专家信息列表";
    Layout = "~/Views/Shared/_LayoutPageExpertsManagement.cshtml";
}

@using SEEIPro.Models;
@using PagedList.Mvc;

<link href="~/Content/css/PagedList.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/ExpertsList.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>
    $(function () {

        //模糊查询
        $("#btn_query").click(function () {
            var kwd = $.trim($("#txt_kwds").val());
            if (kwd == null || kwd == "") {
                alert("请输入要查询的关键词！");
            } else {
                window.location = "/ExpertsManage/Query?kwd=" + kwd;
                //$.ajax({
                //    type: "GET",
                //    url: "/ExpertsManage/Query?kwd=" + kwd,
                //    //data: { "kwd": kwd },
                //    dataType: 'text',
                //    success: function (result) {
                //        if (result == 'no') {
                //            alert("没有查询到任何相关数据!");
                //        }
                //    },
                //    error: function (xhr) {
                //        alert("查询出现异常，请稍后重试！" + xhr.responsetext);
                //    }
                //});
            }
        });
        //删除专家

        $("#btnDel").click(function () {
            var isDel = confirm("确定要删除吗？");
            if (isDel) {
                //$.ajax({
                //    type: "POST",
                //    url: "/ExpertsManage/Delete?id=" + obj,
                //    success: function (result) {
                //        if (result == 'ok') {
                //            alert("已成功删除该专家的信息!");
                //            window.location = "/ExpertsManage/Index";
                //        } else {
                //            alert("删除失败，请稍后重试！");
                //        }
                //    },
                //    error: function (xhr) {
                //        alert("删除出现异常，请稍后重试！" + xhr.responsetext);
                //    }
                //});
            } else {
                return false;
            }
        });

    });
</script>

<div class="div_query">
    关键词：<input id="txt_kwds" class="textbox" placeholder="如:教授" type="text" title="请输入要查询到的任意关键词！(姓名，职称，单位名称)" />
    <input class="btn btn-default" id="btn_query" type="button" value="查询" title="点击查询" />
    <a class="abutton" href="@Url.Action("OutToExcel", "ExpertsManage")" title="点击到处到excel文件">导出到Excel文件</a>
</div>

<div>
    <table id="tb_list" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td>专家序号</td>
                <td>姓名</td>
                <td>性别</td>
                <td>单位名称</td>
                <td>技术职称</td>
                <td>入库状态</td>
                <td>个人主页</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Expert expert in Model)
            {
                <tr>
                    <td>@expert.sId</td>
                    <td>@expert.eName</td>
                    <td>@expert.gender</td>
                    <td>@expert.UnitDetailsOne</td>
                    <td>@expert.academicTitles</td>
                    <td>
                        @foreach (StorageStatu status in @ViewBag.StatusList as List<StorageStatu>)
                        {
                            if (expert.beStatus == status.sid)
                            {
                                @status.beStatus
                            }
                        }
                    </td>
                    <td><a class="alink" href="@expert.personalUrl " target="_blank" title="点击前往专家个人主页查看详情">查看详情</a></td>
                    <td>
                        <a class="alink" href="@Url.Action("Edit", "ExpertsManage", new { id = expert.sId })" title=" 点击编辑专家信息">编辑</a>
                        <a id="btnDel" class="alink" href="@Url.Action("Delete", "ExpertsManage", new { id = expert.sId })" title="点击删除专家">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions { LinkToFirstPageFormat = "首页", LinkToPreviousPageFormat = "上一页", LinkToNextPageFormat = "下一页", LinkToLastPageFormat = "尾页", MaximumPageNumbersToDisplay = 5 })
</div>