<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/images/favico.ico" type="image/x-icon" />
    <link href="~/Scripts/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/sidebar.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script><!--jQuery CDN-->
    <script src="~/Scripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
               isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">[gongjing],欢迎你！</a>
                </li>
                <li>
                    <a href="@Url.Action("ManageInfo", "Manage")"><i class="fa fa-fw fa-home"></i> 首页</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-folder"></i> 常用资料上传</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-file-o"></i> 修改个人信息</a>
                </li>
                <li>
                    <a href="@Url.Action("Changepwd", "Manage")"><i class="fa fa-fw fa-cog"></i> 修改密码</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> 资讯管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Dropdown heading</li>
                        <li><a href="#">研究院新闻</a></li>
                        <li><a href="#">教装资讯</a></li>
                        <li><a href="#">学术平台</a></li>
                        <li><a href="#">招聘信息</a></li>
                        <li><a href="#">合作院校</a></li>
                        <li><a href="#">课题中心</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-bank"></i> 查看反馈</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-dropbox"></i> 最新通知</a>
                </li>
                <li>
                    <a href="@Url.Action("Login","Manage")"><i class="fa fa-fw fa-twitter"></i> 注销</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas" title="导航栏">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container">


                @RenderBody()

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>
</html>
